.community {
    background-color: var(--bg-red);
    background-image: linear-gradient(180deg, var(--bg-gradient-black1), var(--bg-gradient-black2)), url('../../common/Images/community.jpg');
    overflow-x: hidden;
    margin-top: 6rem;
}

.photo-section-description {
    margin-top: 10px !important;
}